
botkey.txt
credentials.json
client_secret.json
token.pickle
launch.json
settings.json
.vscode
.vscode/launch.json
.vscode/settings.json
current_schedule.xlsx
__pycache__/
*.pyc
currentWeek.xlsx
runbot.bat
venv/
env/
