
botkey.txt
credentials.json
New Text Document.txt
token.pickle
launch.json
settings.json
.vscode
.vscode/launch.json
.vscode/settings.json
current_schedule.xlsx
cogs/__pycache__/generalInfo.cpython-38.pyc
cogs/__pycache__/generalInfo.cpython-38.pyc
cogs/__pycache__/scheduleCommands.cpython-38.pyc
cogs/__pycache__/scheduleCommands.cpython-38.pyc
cogs/__pycache__/
currentWeek.xlsx
runbot.bat
